.score-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.col-1 {
	width: 160px;
	position: relative;
}

.col-2 {
	text-align: center;
}

.score {
	position: absolute;
	right: 0;
}

.team-wrapper {
	display: flex;
	align-items: center;
	margin: 10px;
	height: 50px;
}

.status-wrapper {
	text-align: center;
	width: 80px;
}

.team-wrapper img {
	width: 30px;
	margin-right: 15px;
}